extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = home

block body
  
  .homepage
    
    -// Homepage Banner Section
    section.homepage-banner(style='background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(' + home.data.backgroundImage.url + ')')
      .banner-content.grid-container
        h2.banner-title
          != RichText.asText(home.data.title)
        != RichText.asHtml(home.data.tagline, ctx.linkResolver)
        if ( home.data.buttonLink && home.data.buttonText )
          a.banner-button(href=Link.url(home.data.buttonLink, ctx.linkResolver)) !{home.data.buttonText}

    -// Content Section
    div.articles.grid-container

      for article in articles
        .article
          - var illuStyle = "background-image:url(" + article.data.miniature.url + ")";
          .illustration(style=illuStyle)
          .content
            h3
              != RichText.asText(article.data.titre)
            p
              != article.data.resume
